{% extends 'base.html' %}



{% block content %}

    <main class="flex items-center justify-center min-h-screen bg-gray-900">
        <div class="relative z-10 w-full max-w-md p-8 bg-gray-800 bg-opacity-90 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-6 text-white text-center">Login</h2>

            <form id="loginForm" method="post" class="space-y-6">

                {% csrf_token %}
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-300">Email address</label>
                    <input type="email" id="email" name="email" required
                        class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-300">Password</label>
                    <input type="password" id="password" name="password" required
                        class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
                </div>
                <div>
                    <button type="submit"
                        class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Sign In
                    </button>
                </div>


                
                <div class="text-center text-sm text-gray-400">
                    <p class="text-right"><a href="{% url 'reset_password' %}" class="font-medium text-green-500 hover:text-green-400">Forget Password</a></p>
                </div>


                <div class="text-center text-sm text-gray-400">
                    <p>Don't have an account? <a href="{% url 'register_page' %}" class="font-medium text-green-500 hover:text-green-400">Sign up</a></p>
                </div>
            </form>

        </div>

        <div class="absolute inset-0 z-0 bg-gradient-to-r from-green-900 to-black opacity-70"></div>
    </main>



    {% endblock content %}
